<nav class="navbar navbar-light navbar-expand-sm bg-light fixed-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="assets/icons/icon-150x150.png" style="height: 40px;width: 40px;"> &nbsp;
            <span class="wellComeText">Welcome Village Champ</span>
            <span class="userNameText">Mohan Dash</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
</button>


        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="" class="nav-link active" routerLink="/Warehouse">
                    Warehouse Request
        </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link active" routerLink="/deliveryOrderList">
                        Delivery Order List
        </a>
                </li>
                <li class="nav-item" routerLink="/">
                    <a href="" class="nav-link active">
          Logout
      </a>
                </li>
            </ul>
        </div>

    </div>
</nav>