.humanIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 260px;
}

.navTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.mat-tab-label {
    min-width: 50% !important;
}

.navbar {
    box-shadow: none !important;
}

.segView {
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(85, 85, 85, 0.1);
    height: 55px;
}

.cardView {
    margin: 0px;
    border-radius: 0px;
    box-shadow: 0px 10px 0px 0px #f5f5f5;
    height: auto;
    margin-top: 2px;
    margin-bottom: 15px;
}

@media screen and (min-device-width: 360px) and (max-device-width: 411px) {
    .cardView {
        height: 200px;
    }
    .tabScroller {
        height: 78vh !important;
    }
}

.productName {
    font-size: 13px;
    font-weight: 600;
    font-family: "Montserrat";
    margin-bottom: 0px;
}

.atrId {
    margin-bottom: 3px;
    color: #1A1E24;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 500;
}

.qty {
    float: right;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
    margin-top: -10px;
    color: #929292;
}

.qty span {
    color: #1A1E24;
}

.deliveredOrderNo {
    color: #929292;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 13px;
    margin-bottom: 0px;
}

.deliveredOrderValue {
    color: #1A1E24;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
    text-transform: uppercase;
}

.expiresIn {
    color: green;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 600;
    float: right;
}

.createdDate {
    margin-bottom: 3px;
    color: #929292;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 500;
}

.approvedBadge {
    background: #bcd2ff;
    border-radius: 25px;
    padding: 5px 7px;
    margin-bottom: 27px;
    margin-top: -5px;
    position: absolute;
    right: 10px;
}

.approvedBadge a {
    color: blue;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 500;
}

.farmerTitle {
    color: #929292;
    font-size: 10px;
    font-family: "Montserrat";
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.farmerName {
    color: #1A1E24;
    font-size: 11px;
    font-family: "Montserrat";
    font-weight: 500;
    text-transform: uppercase;
}

.btnSec {
    border-top: 1px solid #D3D3D3;
    height: 50px;
}

.rightBorder {
    border-right: 1px solid #D3D3D3;
}

.btnView {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #252525;
    margin: 16px 0;
}

.tabScroller {
    overflow-x: auto;
    overflow-y: scroll;
    height: 82vh;
    margin-top: 54px;
}

.ion-content-scroll-host {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: center;
}

.float {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 65px;
    right: 40px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 4px 13px rgba(85, 83, 83, 0.15);
    z-index: 99;
    border-radius: 50px;
}

.my-float {
    margin-top: 12px;
    height: 25px;
}

ion-segment-button::part(indicator-background) {
    background: #EA4750;
}

ion-segment-button.md::part(native) {
    color: #000;
}

.segment-button-checked.md::part(native) {
    color: #EA4750;
}

ion-segment-button.md::part(indicator-background) {
    height: 4px;
}

.header {
    top: 115px;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #d9363e;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 14px;
    margin-left: -6px;
}

.nodata {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    color: gray;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}