<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()">
                <img src="../../assets/images/leftArrow.png" style="width: 20px;height: 16px;">
            </ion-button>
        </ion-buttons>
        <ion-title>Terms and Conditions</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container-fluid">
        <p>1.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla malesuada pellentesque elit eget gravida. Commodo ullamcorper a lacus vestibulum sed arcu. </p>
        <p>2.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla malesuada pellentesque elit eget gravida. Commodo ullamcorper a lacus vestibulum sed arcu. </p>
        <p>3.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla malesuada pellentesque elit eget gravida. Commodo ullamcorper a lacus vestibulum sed arcu. </p>
        <p>4.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla malesuada pellentesque elit eget gravida. Commodo ullamcorper a lacus vestibulum sed arcu. </p>
        <p>5.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla malesuada pellentesque elit eget gravida. Commodo ullamcorper a lacus vestibulum sed arcu. </p>

        <p>6.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla malesuada pellentesque elit eget gravida. Commodo ullamcorper a lacus vestibulum sed arcu. </p>
        <p>7.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla malesuada pellentesque elit eget gravida. Commodo ullamcorper a lacus vestibulum sed arcu. </p>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <ion-button fill="outline" class="declainBtn" (click)="closeModal()">Decline</ion-button>
                </div>
                <div class="col-6">
                    <ion-button color="danger" class="acceptBtn" (click)="closeModal()">Accept</ion-button>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>