<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="closeModal()">
                <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
                <img src="../../assets/images/leftArrow.png" style="width: 20px;height: 16px;">
            </ion-button>
        </ion-buttons>
        <ion-title>LT Details (ATR-001757)</ion-title>
        <!-- <ion-buttons slot="end">
            <ion-button class="resetBtn">
                Reset
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="cardView">
        <ion-card-content class="pb-0">
            <div class="row">
                <div class="col-3 pr-0">
                    <img src="../../assets/images/Rectangle.png" style="width: 50px;height: 50px;">
                </div>
                <div class="col-9 pl-0">
                    <h3 class="productName">Maize</h3>
                    <a class="createdDate">23 July 2021  10:00 AM</a>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card class="cardViewList">
        <ion-card-content class="pb-0">
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">LT Number.</h3>
                    <p class="valueText">11224</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <span class="badge badge-success approvedBadge"><a>Approved</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">LT Date</h3>
                    <p class="valueText">12 Jun 2021 10:20 AM</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <h3 class="titleText">no of bags</h3>
                    <p class="valueText">95</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">Date</h3>
                    <p class="valueText">24 July 2021</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <h3 class="titleText">net weight </h3>
                    <p class="valueText">7.67 MT</p>
                </div>
            </div>

        </ion-card-content>
        <div class="FillLTDetailsSec">
            <p class="FillLTDetailsBtn">Fill LT Details</p>
        </div>
    </ion-card>
    <ion-card class="cardViewList">
        <ion-card-content class="pb-0">
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">LT Number.</h3>
                    <p class="valueText">11224</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <span class="badge badge-success approvedBadge"><a>Approved</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">LT Date</h3>
                    <p class="valueText">12 Jun 2021 10:20 AM</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <h3 class="titleText">no of bags</h3>
                    <p class="valueText">95</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">Date</h3>
                    <p class="valueText">24 July 2021</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <h3 class="titleText">net weight </h3>
                    <p class="valueText">7.67 MT</p>
                </div>
            </div>

        </ion-card-content>
        <div class="FillLTDetailsSec">
            <p class="FillLTDetailsBtn">Fill LT Details</p>
        </div>
    </ion-card>
    <ion-card class="cardViewList">
        <ion-card-content class="pb-0">
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">LT Number.</h3>
                    <p class="valueText">11224</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <span class="badge badge-success OpenBadge"><a>Open</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">LT Date</h3>
                    <p class="valueText">12 Jun 2021 10:20 AM</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <h3 class="titleText">no of bags</h3>
                    <p class="valueText">95</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">Date</h3>
                    <p class="valueText">24 July 2021</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <h3 class="titleText">net weight </h3>
                    <p class="valueText">7.67 MT</p>
                </div>
            </div>

        </ion-card-content>
        <div class="FillLTDetailsSec">
            <p class="FillLTDetailsBtn">Fill LT Details</p>
        </div>
    </ion-card>
    <ion-card class="cardViewList">
        <ion-card-content class="pb-0">
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">LT Number.</h3>
                    <p class="valueText">11224</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <span class="badge badge-success OpenBadge"><a>Open</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">LT Date</h3>
                    <p class="valueText">12 Jun 2021 10:20 AM</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <h3 class="titleText">no of bags</h3>
                    <p class="valueText">95</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <h3 class="titleText">Date</h3>
                    <p class="valueText">24 July 2021</p>
                </div>
                <div class="col-5 float-right text-right pl-1">
                    <h3 class="titleText">net weight </h3>
                    <p class="valueText">7.67 MT</p>
                </div>
            </div>

        </ion-card-content>
        <div class="FillLTDetailsSec">
            <p class="FillLTDetailsBtn">Fill LT Details</p>
        </div>
    </ion-card>
</ion-content>