<a class="float">
    <img src="../../assets/icons/AddIcon.png" class="my-float" (click)="AddDeliveryChallan()">
</a>
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" routerLink="/deliveryOrderList">
                <img src="../../assets/images/leftArrow.png" style="width: 20px;height: 16px;">
            </ion-button>
        </ion-buttons>
        <ion-title>Delivery Challan List </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="row btnSec">
        <div class="col-6 rightBorder text-center" style="background-color: white;">
            <img class="btnView" src="/../../assets/icons/sort.png">&nbsp;
            <span class="btnView">SORT BY</span>
        </div>
        <div class="col-6 text-center" style="background-color: white;">
            <img class="btnView" src="/../../assets/icons/filter.png"><span class="dot"></span>&nbsp;
            <span class="btnView">FILTER</span>
        </div>
    </div> -->
    <div *ngFor="let data of dcList">
        <ion-card class="cardView">
            <ion-card-content class="pb-0">
                <div class="row">
                    <div class="col-2 pr-0">
                        <img src="../../assets/images/Rectangle.png">
                    </div>
                    <div class="col-10">
                        <p class="qty">DO Quantity &nbsp;&nbsp; <span>{{data.deliveryOrderQuantity}} Q</span></p>
                        <h3 class="productName">{{data.productName}}</h3>
                        <p class="qty">Remaining Quantity &nbsp;&nbsp; <span>{{data.remainingQuantity}} Q</span></p>
                        <p class="deliveredOrderNo">delivered Order No.</p>
                        <a class="deliveredOrderValue">{{data.releaseOrderNumber}}</a>
                        <!-- <p class="expiresIn">Expires In: 25h:28m:18s</p> -->
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 ">
                        <p class="farmerTitle">Delivery Order Date</p>
                        <p class="farmerName">{{data.doReleaseDate | date: 'dd/mm/yyyy'}}</p>
                    </div>
                    <div class="col-6 text-right">
                        <p class="farmerTitle">Warehouse</p>
                        <p class="farmerName">{{data.warehouseName}}</p>
                    </div>

                </div>

            </ion-card-content>
        </ion-card>
        <ion-card class="cardViewList" *ngFor="let subData of data.dcList">
            <ion-card-content class="pb-0">
                <div class="row">
                    <div class="col-2 pr-0">
                        <img src="../../assets/images/Rectangle.png">
                    </div>
                    <div class="col-10">
                        <p class="qty">Delivery Challan QTY </p>
                        <h3 class="productName">{{data.productName}}</h3>
                        <p class="qty"><span>{{subData.deliveryChallanQty}} Q</span></p>
                        <p class="deliveredOrderNo">delivered Order No.</p>
                        <a class="deliveredOrderValue">{{data.deliveryChallanNum}}</a>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-6 ">
                        <p class="farmerTitle">Delivery Order Date</p>
                        <p class="farmerName">{{subData.deliveryChallanDate | date: 'dd/mm/yyyy'}}</p>
                    </div>
                    <div class="col-6 text-right">
                        <p class="farmerTitle">No Of Bags</p>
                        <p class="farmerName">{{subData.numberOfBags}}</p>
                    </div>

                </div>
            </ion-card-content>
            <div class="row btnSec">
                <div class="col-6 rightBorder text-center">
                    <p class="btnView" (click)="AddEditDeliveryChallan(data.deliveryOrderId,subData.deliveryChallanId)">View Delivery Challan</p>
                </div>
                <div class="col-6 text-center">
                    <p class="btnView" id="open-custom-dialog" expand="block">View Details</p>
                    <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
                        <ng-template>
                            <div class="wrapper">
                                <!-- <h1>Dialog header</h1> -->

                                <ion-list lines="none">
                                    <ion-item button="true" detail="false" style=" text-align: center;
                                    border-bottom: 1px solid gainsboro;" (click)="modal.dismiss()">
                                        <ion-label>View Sales Order</ion-label>
                                    </ion-item>
                                    <ion-item button="true" detail="false" style=" text-align: center;
                                    border-bottom: 1px solid gainsboro;" (click)="modal.dismiss()">
                                        <ion-label>View Challan</ion-label>
                                    </ion-item>
                                    <ion-item button="true" detail="false" style=" text-align: center;" (click)="modal.dismiss()">
                                        <ion-label>View Invoice</ion-label>
                                    </ion-item>
                                </ion-list>
                            </div>
                        </ng-template>
                    </ion-modal>
                </div>
            </div>
        </ion-card>
    </div>

</ion-content>